@import "libs"
@import "vars"

// ===========Base Config===================
*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	opacity: 1
	background-color: #F9FAFC

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

h4
	font-family: 'Exo 2', sans-serif
	font-size: 16px
	font-weight: 500
	color: #01134E

button
	padding: 0
button:focus
	outline: none



// =======Dropdown User===========

.dropdown-menu
	box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15)
	border: none
	margin-top: 5px



// ===============MAIN======================

.left_bar 
	background-color: #01134E
	position: absolute
	left: 0
	top: 0
	height: 100vh
	min-height: 520px
	width: 80px
	z-index: 10

.logo
	display: block
	width: 35px
	height: 35px
	margin: 20px auto

.menu
	margin-top: 60px
	ul
		list-style-type: none
		padding: 0
		li
			height: 50px
			margin: 20px 0
			position: relative
			a
				display: block !important
				height: 100% !important
				text-align: center
				i 
					position: relative
					color: #8089A6
					line-height: 50px
					font-size: 20px
		.active
			&::before
				content: ''
				position: absolute
				left: 0
				height: 100%
				width: 4px
				background-color: #0AD69C
		.alertmenu
			&::after
				text-align: center
				line-height: 19px
				color: #fff
				font-size: 14px
				content: '1'
				position: absolute
				right: 5px
				top: 8px
				height: 19px
				width: 19px
				border-radius: 50%
				background-color: #2A74DB
		

		li:hover
			a 
				i 
					color: #fff

.topbar
	height: 80px
	display: flex
	background-color: #fff
	margin-left: 80px
	align-items: center
	justify-content: space-between
	&_crumbs
		margin-left: 50px
		span
			font-size: 14px
		img
			margin: 0px 12px

	&_user
		margin-right: 50px
		display: flex
		flex-direction: row
		align-items: center
		z-index: 1
		cursor: default
		padding: 10px
		border-radius: 5px
		&:hover
			box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15)

		&_img
			height: 22px
			width: 22px
		p
			margin: 0 9px
			color: #252F48
			font-size: 15px
		&_arrow
			height: 8px


// Central block

.wrap
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	display: flex
	justify-content: center
	align-items: flex-start

.cblock
	background-color: #fff
	width: 80vw
	max-height: 80vh
	margin-top: 15vh
	margin-left: 80px
	display: flex
	box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06)
	border-radius: 4px
	position: relative

.cleft
	overflow: auto
	position: relative
	border-right: 1px solid #EDF0F4
	&_user
		display: flex
		position: relative
		padding: 18px 20px 14px 20px
		min-width: 300px
		cursor: default
		&_img
			margin-right: 15px
		&_text
			h4
				margin: 0
				position: relative
				display: inline-block
			.dotted::before
				content: ''
				top: 2px
				right: -8px
				height: 6px
				width: 6px
				border-radius: 50%
				background-color: #0AD69C
				position: absolute
			.mutted::after
				font-family: 'Font Awesome\ 5 Free'
				content: '\f028'
				font-weight: 900
				position: absolute
				color: #9BA0AD
				font-size: 14px
				top: 4px
				right: -28px
			p
				margin: 0
				font-size: 14px
				color: #252F48
				opacity: 0.43
		span
			position: absolute
			top: 5px
			right: 10px
			font-size: 12px
			color: #9BA0AD	
	.active
		box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15)
		background-color: #fff


// =================RIGHT BLOCK===========================

.cright
	display: flex
	flex-grow: 1
	flex-direction: column
	justify-content: space-between
	&_search, 
	&_message
		display: flex
		width: 100%
		min-height: 60px
		border-bottom: 1px solid #EDF0F4
		box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15)
		button
			border: 0	
			background-color: transparent
			color: #DADADA
			width: 60px
			cursor: pointer
			font-size: 20px
			&:hover
				box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15)
				background-color: #fff
				color: #9BA0AD	
		input
			border: 0
			flex-grow: 1
			color: #252F48
			opacity: 0.6
			font-size: 14px
			padding-left: 20px
			&:focus
				box-shadow: 0px 5px 5px rgba(190, 200, 212, 0.2), 0px -5px 5px rgba(224, 224, 224, 0.15)
				opacity: 1
		button:last-child
			width: 40px
			height: 40px
			margin: 10px		
			border-radius: 7px
			box-shadow: 0px 0px 15px rgba(153, 163, 174, 0.259256);
			color: #0AD69C
		button:last-child:hover
			color: #09be8a

	&_dialogue
		flex-grow: 1
		overflow: auto
		position: relative

		&_left, &_right
			margin: 10px 0 10px 0
			.portrait_block
				width: 36px
				height: 36px
				background-size: cover
				margin-left: 20px

			.media-body
				position: relative
				max-width: 360px
				background: #F7F9FC
				border-radius: 5px
				padding-bottom: 5px
				&::before
					content: ''
					position: absolute
					width: 0
					height: 0
					bottom: 0
					border-bottom: 20px solid #F7F9FC
				p 
					margin: 10px 20px
					max-width: 280px
					color: #222428
					font-size: 16px
					line-height: 20px
					word-wrap: break-word
				span
					position: absolute
					right: 15px
					bottom: 2px
					font-size: 12px
					color: #9BA0AD	

		&_right
			.media-body
				margin: 0 40px 0 auto
				&::before
					right: -15px
					border-right: 20px solid transparent
		&_left
			.media-body
				&::before
					left: -15px
					border-left: 20px solid transparent
















	





// =========================================
@import "media" // Всегда в конце
